<section data-ng-controller="AdministrationController" data-ng-init="findOne()">
  <div class="page-header">
    <h1 data-ng-bind="user.title"></h1>
  </div>

  <div ><!-- class="pull&#45;right" -->
    <div class="list-group">
      <label class="control-label" >First Name</label>
      <h4 class="list-group-user-heading" data-ng-bind="user.firstName"></h4>
      <label class="control-label" >Last Name</label>
      <h4 class="list-group-user-heading" data-ng-bind="user.lastName"></h4>
      <label class="control-label" >Email Address</label>
      <h4 class="list-group-user-heading" data-ng-bind="user.email"></h4>
      <label class="control-label" >Username</label>
      <h4 class="list-group-user-heading" data-ng-bind="user.username"></h4>
    </div>

    <a class="btn btn-primary" href="/#!/users/{{user._id}}/edit">
      <i class="glyphicon glyphicon-edit"></i>
    </a>

  </div>
</section>
