<section>
    <p>Left-sidebar placeholder</p>
    <div class="left-sidebar">
        <ul class="sidebar&#45;nav">
            <li class="sidebar&#45;brand">
                <a href="#">
                    <li>
                        <a href="#">Dashboard</a>
                    </li>
                    <li>
                        <a href="#">Patrons</a>
                    </li>
                    <li>
                        <a href="#">Collections</a>
                    </li>
                    <li>
                        <a href="#">Reports</a>
                    </li>
                    <li>
                        <a href="#">Connect</a>
                    </li>
                    <li>
                        <a href="#">Social</a>
                    </li>
                </a>
            </li>
        </ul>
    </div>
</section>
