.idea
.DS_Store
.sass-cache


*.swp
*.sw*
**/*.swp
**/*.sw*

*~
**/*~

node_modules/*
client/src/vendor/*

maps/*
*.log
**/*.log
npm-debug.log
build/tmp
build/dist

client/test/screenshots/*
client/test/unit-results/*
