<section data-ng-init="vm.find()">
    <div class="page-header">
        <h1>Items</h1>
    </div>
    <div class="list-group">
			<a data-ng-repeat="item in vm.items" data-ng-href="#!/items/{{item._id}}" class="list-group-item">
				<h4 class="list-group-item-heading" data-ng-bind="item.title"></h4>
				<h4 class="list-group-item-heading" data-ng-bind="item.author"></h4>
				<small class="list-group-item-text">
					Created on <span data-ng-bind="item.created | date:'medium'"></span>
				</small>
			</a>
		</div>
		<div class="alert alert-warning text-center" data-ng-hide="!vm.items.$resolved || vm.items.length">
    	No Items yet, why don't you <a href="/#!/items/create">create one</a>?
    </div>
</section>
