<section data-ng-init="vm.find()">
	<div class="page-header">
		<h1>Libraries</h1>
	</div>
	<div class="list-group">
		<a data-ng-repeat="library in vm.libraries" data-ng-href="#!/libraries/{{vm.library._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="library.created | date:'medium'"></span>
				by
				<span data-ng-bind="library.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="library.name"></h4>
		</a>
	</div>
	<div class="alert alert-warning text-center" data-ng-hide="!vm.libraries.$resolved || vm.libraries.length">
		No Libraries yet, why don't you <a href="/#!/libraries/create">create one</a>?
	</div>
</section>
