<section data-ng-controller="RolesController">
	<div class="page-header">
		<h1>New Role</h1>
	</div>
<div>
	<div class="row">
		<div class="col-md-6 show-grid">
			<accordion close-other="true">
			<accordion-group data-ng-repeat="group in optionPool" is-open="status.open">
				<accordion-heading>
					{{group.name}}
					<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
				</accordion-heading>
				<div  ng-repeat="right in group.rights">
					<p><strong>{{right.name}}</strong> - {{right.desc}}</p>
				</div>
			</accordion-group>
			</accordion>
		</div>
	</div>
</div>

</section>
