<section data-ng-controller="RolesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>Edit Role</h1>
	</div>

		<div class="row">
			<div class="col-md-7">
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>

				<form class="form-horizontal" data-ng-submit="update()" novalidate>
					<fieldset>
						<label class="control-label" for="name">Role Name</label>
						<div class="controls">
							<input type="text" data-ng-model="role.roleName" id="name" class="form-control" placeholder="Name" required>
						</div>
						<label class="control-label" for="desc">Role Description</label>
						<div class="controls">
							<input type="text" data-ng-model="role.desc" id="desc" class="form-control" placeholder="Description" required>
						</div>
					</fieldset>
					<br>
					<fieldset>
						<accordion close-other="true">
							<accordion-group data-ng-repeat="group in rightsPool | orderBy:'dispName'" is-open="status.open">
								<accordion-heading ng-click="status.open=!status.open">
									<div>
										{{group.dispName}}
										&nbsp;
										<span data-ng-if="group.totalSelected" class="badge">{{group.totalSelected}}</span>
										<span class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></span>
									</div>
								</accordion-heading>
								<div  ng-repeat="right in group.rights">
									<button type="button" class="btn btn-link" ng-click="toggleSelect(group, right)" >
										<span class="glyphicon" ng-class="{'glyphicon-check': isSelected(right), 'glyphicon-unchecked': !isSelected(right)}"></span>
										<strong>{{right.name}}</strong> - {{right.desc}}
									</button>
								</div>
							</accordion-group>
						</accordion>
					</fieldset>
					<div class="form-group">
						<input type="submit" class="btn btn-default">
					</div>
				</form>
			</div>
		</div>
</section>
