<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title><%= title %></title>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
		<link href='./css/style.css' rel='stylesheet' />

		<!-- Custom CSS -->
		<link href="css/simple-sidebar.css" rel="stylesheet">

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		

	</head>

	<body ng-app='muse'>
		<!-- Static navbar -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container header">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#"><img alt="Muse" src="img/muse_logo.jpg"></a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="navbutton"><a href="/index">Home</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="/signout">Signout </a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>
		<div id="wrapper">
			<div id="sidebar-wrapper">
				<ul class="sidebar-nav">
					<li class="sidebar-brand">
						<a href="#">
							<li>
								<a href="#">Dashboard</a>
							</li>
							<li>
								<a href="#">Patrons</a>
							</li>
							<li>
								<a href="#">Collections</a>
							</li>
							<li>
								<a href="#">Reports</a>
							</li>
							<li>
								<a href="#">Connect</a>
							</li>
							<li>
								<a href="#">Social</a>
							</li>
			</div><!--left sidebar-->
		</div>
		<div id="page-content-wrapper">
			<div class="container-fluid">
				<div class="center_display">    
					<div class="col-lg-12">
						
						<!-- <section ng&#45;view></section> -->
						<ng-view>
							
							
						</ng-view>
						
						<script type='text/javascript'>
							window.user = <%- user || 'null' %>
						</script>

					</div><!--col-lg-12-->
				</div><!--Center display class-->
			</div><!--Container-fluid 1-->
		</div>
		
		<script>
	    $("#menu-toggle").click(function(e) {
	        e.preventDefault();
	        $("#wrapper").toggleClass("toggled");
	    });
	    </script>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

		<!-- Link Angular -->
		<script type="text/javascript" src="/lib/angular/angular.js"></script>
		<!-- Link Angular Route -->
		<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
		<!-- Link Angular Resource -->
		<script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>

		<!-- Link User Module -->
		<script type="text/javascript" src="/usrs/users_cli_module.js"></script>
		<!-- Link User Service -->
		<script type="text/javascript" src="/usrs/services/users_cli_service.js"></script>
		<!-- Link Angular UserController -->
		<script type="text/javascript" src="/usrs/controllers/users_cli_ctrl.js"></script>
		<!-- Link Angular User Routes -->
		<script type="text/javascript" src="/usrs/config/users_cli_routes.js"></script>
		<!-- Link Authentication Service -->
		<script type="text/javascript" src="/usrs/services/auth_cli_service.js"></script>


		<!-- Link an example custom angular module -->
		<script type="text/javascript" src="/example/example_cli_module.js"></script>
		<!-- Link an example custom angular controller -->
		<script type="text/javascript" src="/example/controllers/example_cli_ctrl.js"></script>
		<!-- Link an example custom angular&#45;routes script -->
		<script type="text/javascript" src="/example/config/example_cli_routes.js"></script>

		<!-- Link Book Module -->
		<script type="text/javascript" src="/books/books_cli_module.js"></script>
		<!-- LInk Book Service -->
		<script type="text/javascript" src="/books/services/books_cli_service.js"></script>
		<!-- Link Angular BookController -->
		<script type="text/javascript" src="/books/controllers/books_cli_ctrl.js"></script>
		<!-- Link Angular User Routes -->
		<script type="text/javascript" src="/books/config/books_cli_routes.js"></script>


		<!-- Link our Angular App Script -->
		<script type="text/javascript" src="/application.js"></script>

		<!-- Elev.io script -->
		<script>
		var _elev = window._elev || {};(function() {var i,e;
		i=document.createElement("script"),i.type='text/javascript';
		i.async=1,i.src="https://static.elev.io/js/v3.js",e=document.getElementsByTagName("script")[0],e.parentNode.insertBefore(i,e);})();
		_elev.account_id = '559176030069b';
		</script>
	</body>
</html>
