<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>{{title}}</title>

	<!-- General META -->
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<!-- Semantic META -->
	<meta name="keywords" content="{{keywords}}">
	<meta name="description" content="{{description}}">

	<!-- Facebook META -->
	<meta property="fb:app_id" content="{{facebookAppId}}">
	<meta property="og:site_name" content="{{title}}">
	<meta property="og:title" content="{{title}}">
	<meta property="og:description" content="{{description}}">
	<meta property="og:url" content="{{url}}">
	<meta property="og:image" content="/img/brand/logo.png">
	<meta property="og:type" content="website">

	<!-- Twitter META -->
	<meta name="twitter:title" content="{{title}}">
	<meta name="twitter:description" content="{{description}}">
	<meta name="twitter:url" content="{{url}}">
	<meta name="twitter:image" content="/img/brand/logo.png">

	<!-- Fav Icon -->
	<link href="/modules/core/img/brand/favicon.ico" rel="shortcut icon" type="image/x-icon">

	<!--Application CSS Files-->
	{% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">{% endfor %}

	<!-- HTML5 Shim -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<!-- ng&#45;show="$location.path() != '/signin'" -->

<body class="ng-cloak" data-ng-controller="LayoutController">
	<header data-ng-show="authentication.user" data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>

	<div id="wrapper" data-ng-show="authentication.user">
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="sidebar-brand">
					<a href="#">
						<li>
							<a href="#">Dashboard</a>
						</li>
						<li>
							<a href="#">Patrons</a>
						</li>
						<li>
							<a href="#">Collections</a>
						</li>
						<li>
							<a href="#">Reports</a>
						</li>
						<li>
							<a href="#">Connect</a>
						</li>
						<li>
							<a href="#">Social</a>
						</li>
					</a>
				</li>
			</ul>
		</div><!--left sidebar-->
	</div>

	<section class="content">
		<section class="container">
			{% block content %}{% endblock %}
		</section>
	</section>

	<!-- Script for an eventual button that will toggle our sidebar -->
	<!--  -->
	<!-- <script> -->
	<!-- 	$("#menu&#45;toggle").click(function(e) { -->
	<!-- 		e.preventDefault(); -->
	<!-- 		$("#wrapper").toggleClass("toggled"); -->
	<!-- 	}); -->
	<!-- </script> -->

	<!--Embedding The User Object-->
	<script type="text/javascript">
		var user = {{ user | json | safe }};
	</script>

	<!-- Elev.io script -->
	<script >
		// if ($scope.showLayout) {
			var _elev = window._elev || {};(function() {
				var i,e;
				i=document.createElement("script"),i.type='text/javascript';
				i.async=1,i.src="https://static.elev.io/js/v3.js",e=document.getElementsByTagName("script")[0],e.parentNode.insertBefore(i,e);
			})();
			_elev.account_id = '559176030069b';
		//}
	</script>
	<!--Application JavaScript Files-->
	{% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>{% endfor %} 

	{% if process.env.NODE_ENV === 'development' %}
	<!--Livereload script rendered -->
	<script type="text/javascript" src="http://{{request.hostname}}:35729/livereload.js"></script>
	{% endif %}
</body>

</html>
